body{
  background-color: white; 
  color: black !important;
}
/* The side navigation menu */
.sidenav {
  height: 100%;
  /*100%Full-height*/width: 0;
  /*0width-changethiswithJavaScript*/position: fixed;
  /*Stayinplace*/z-index: 1;
  /*Stayontop*/top: 0;
  left: 0;
 
  background-color: white;
  /*Black*/overflow-x: hidden;
  /*Disablehorizontalscroll*/padding-top: 60px;
  /*Placecontent60pxfromthetop*/transition: 0.5s;
  /*0.5secondtransitioneffecttoslideinthesidenav*/
  
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}
nav{
  background-color: white; /* Black*/

  top: 0;
  margin: 0;
  padding: 0;
}
/* Position and style the close button (top right corner) */
.closebtn {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 36px !important;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}
.logo{
  width: 100%;
}
hr{
  margin-top: 60px;
  border:none;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



/* Style the list */
ul.tab {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  overflow: hidden;

  
  height:400px;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
  
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #ccc;}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
#section{
  color: rgb(243, 237, 237);
  padding-top: 110px;
  font-size: 50px;
 
  width: 100%;

  
}
#Tokyo p, h1, h2{
font-size: 30px;
color: black;
}
form{
  margin: auto;
  width: 70%;
}
input[type=submit]{
  background: rgb(43, 192, 202);
  color: white;
  margin-left: 11px;
}
textarea, input{
  border-radius: 3px;
    
    border: 1px solid #cecece;
    margin: 4px;
    width: 100%;
    background-color: #efefef;
    padding: 5px;
    
  }
  .resume-container{
    color: crimson;
    line-height:30px;
    font-size: 20px;
}
.resume-container ul li{
    list-style: none;
}
.resume-btn{
    width: 100%;
    height: 40px;
    background-color: blue;
    display: block;
    color: cornsilk;
    font-size: 20px;
    border: none;
    outline: none;
    margin-top: 20px;
    padding-top: 20px;
}
.resume-btn i {
    padding-right: 10px;
    margin-left: 20px;
}
 

/* my button*/
.myBtn{
  background: rgb(20, 19, 19);
  width: 50%;
  margin: 50px 0 0 120px;

  height:30px;
  color: white;
  outline: none;
  border: none;
  font-size: 20px;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #b32727;
  margin: 2% 0 0 20%; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 70%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.switchbtn {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  top: 20px;
  left: 10px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(23, 24, 24);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(240, 232, 232);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.dark-mode {
    
  background-color: rgb(201, 214, 22);
  color: rgb(20, 18, 18);

}
.dark-mode2 {
 background-color: rgb(20, 19, 19);
  opacity: 0.9;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  height: 80vh;
  width: 100%;
  color:red;

}
.dark-mode3 {
    
  background-color: rgb(201, 214, 22);
  color: rgb(20, 18, 18);

}
#London{
  color: rgb(170, 21, 21);
  padding-top: 0px;
  font-size: 35px;
  opacity: 0.9;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  height: 100vh;
  width: 100%;
 background: url(images/45864239_l.jpg);
}
h1,p, h2{
  text-align: center;
  color: rgb(175, 33, 33);
  font-size: 40px;
}

nav img{
  float: right;
  width: 10%;
  height: 49px;
}

.contact-us-btn{
  width: 60%;
  height: 40px;
  font-size: 20px;
  margin-left: 120px;
}
progress {
  
  width: 70%;

height: 20px;

color: #3fb6b2;

background: #d81313;

}

progress::-webkit-progress-bar {
   
 background: #a71a1a;

}

progress::-webkit-progress-value {
  
  background: #3fb6b2;

}
 
progress::-moz-progress-bar {
  
  color: #3fb6b2;
   
 background: #c47676;

}

.skill{
  float:left;
  text-align: center;
  margin-left: 18px;

}
.skill h5{
  font-size: 30px;
  margin-left: 15px;
}
.myskill-heading{
  text-align: center;
  font-size: 40px;
  color: black;
  font-style: italic;
}
@media(min-width: 700px) {

}